		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

				
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">PRODUTOS MAIS FAVORITADOS</h3>

						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							

							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<% anunciosMFav.forEach(anuncioMFav=>{ %>
										<div class="product">
											<a href="/produto/<%=anuncioMFav.id%>">
											<div class="product-img">
												<img src="<%= anuncioMFav.imagem %>" alt="">

											</div>
											<div class="product-body">
												<p class="product-category"><%= anuncioMFav.categoria_nome, %></p>
												<h3 class="product-name"><a href="/produto/<%=anuncioMFav.id%>"><%= anuncioMFav.titulo %> </a></h3>
												<h4 class="product-price"><%= anuncioMFav.valor.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})%></h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-star"><a href="/produto/<%= anuncioMFav.id %>"></i>Conferir</button></a>
											</div>
										</a>
										</div>
									
										<%})%>
										<!-- /product -->

									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->

		
		</div>
		<!-- /SECTION -->