		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Novos Produtos</h3>
						</div>
					</div>
				</div>
				<!-- /section title -->

				<!-- Products tab & slick -->
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<!-- tab -->
							<div id="tab1" class="tab-pane active">
								<div class="products-slick" data-nav="#slick-nav-1">
									<!-- product -->
									<% anunciosMNovos.forEach(anuncioMNovos=>{ %>
									<div class="product">
										<a href="/produto/1">
											<div class="product-img">
												<img src="<%= anuncioMNovos.imagem %>" alt="">

											</div>
											<div class="product-body">
												<p class="product-category"><%= anuncioMNovos.categoria_nome, %></p>
												<h3 class="product-name"><a href="/produto/1"><%= anuncioMNovos.titulo %> </a>
												</h3>
												<h4 class="product-price">
													<%= anuncioMNovos.valor.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})%>
												</h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-star"><a
															href="/produto/<%= anuncioMNovos.id %>"></i>Conferir</button>
										</a>
									</div>
									</a>
								</div>

								<%})%>
								<!-- /product -->
							</div>
							<div id="slick-nav-1" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
		</div>
		<!-- /container -->
		</div>
		<!-- /SECTION -->