	<!-- Section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-md-12">
					<div class="section-title text-center">
						<h3 class="title">Produtos Relacionados</h3>
					</div>
				</div>

				<!-- product -->
				<% prodsRelId.forEach(prodRelId=>{ %>
				<div class="col-md-3 col-xs-6">
					<div class="product">
						<a href="/produto/<%= prodRelId.id %>"><div class="product-img">
							<img src="<%= prodRelId.imagem %>" alt="">
						
						</div>
					</a>
						<div class="product-body">
							<a href="/itens/<%= prodRelId.categoria_id %>"><p class="product-category"><%= prodRelId.categoria_nome, %></p></a>
							<h3 class="product-name"><a href="/produto/<%= prodRelId.id %>"><%= prodRelId.titulo %> </a></h3>
							<h4 class="product-price"><%= prodRelId.valor.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})%></h4>
						</div>
						<div class="add-to-cart">
							<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Carrinho</button>
						</div>
					</div>
				</div>
				<%})%>
				

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /Section -->