<!DOCTYPE html>
<html lang="pt-br">
<!--HEAD DA PAGINA-->
<%- include('./partials/head') %>

<body>
	<!-- HEADER -->
	<%- include('./partials/header') %>
	<!-- NAVIGATION -->
	<%- include('./partials/nav') %>
	
	<%- include('./partials/produtosDestaque') %>
	<%- include('./partials/novosProdutos') %>
	<- include('./partials/maisVendidos') %>
	<%- include('./partials/redesSociais') %>
	<%- include('./partials/footer') %>


</body>

</html>