<!DOCTYPE html>
<html lang="pt-br">
<!--HEAD DA PAGINA-->
<%- include('./partials/head') %>
<!-- / HEAD DA PAGINA-->

<body>
	<%- include('./partials/header') %>
	<%- include('./partials/nav') %>
	<%- include('./partials/produtosDestaque') %>
	<%- include('./partials/novosProdutos') %>
	<%- include('./partials/maisVendidos') %>
	<%- include('./partials/redesSociais') %>
	<%- include('./partials/footer') %>
</body>

</html>