<!DOCTYPE html>
<html lang="en">
<!--HEAD DA PAGINA-->
<%- include('./partials/head') %>

	<body>
		<!-- HEADER -->
		<%- include('./partials/header') %>
			<!-- NAVIGATION -->
			<%- include('./partials/nav') %>


				<!-- SECTION -->
				<div class="section">
					<!-- container -->
					<div class="container">
						<!-- row -->
						<div class="row">
							<% produtos.forEach(produto=>{ %>
								<div class="col-md-4 col-xs-6">
									<div class="product">

										<div class="product-body">
											<h3 class="product-name"><a href="#"><%= produto.titulo %></a></h3>
											<div class="product-img">
												<img src="<%= produto.imagens[0].imagem %>" alt="">
											
											</div>
											<h4 class="product-price"><%= produto.valor %></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<form  action="/itens/<%= produto.id %>" method="POST"class="product-btns">
												<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
														class="tooltipp">Favoritar esse produto</span></button>
											</form>
										</div>
										
									</div>
								</div>
								<%})%>

									<!-- STORE -->
									<div id="store" class="col-md-9">


										<!-- store products -->
										<div class="row">


										</div>
										<!-- /STORE -->
									</div>
									<!-- /row -->
						</div>
						<!-- /container -->
					</div>
					<!-- /SECTION -->
					<!-- /SECTION -->
					<%- include('./partials/redesSociais') %>
						<%- include('./partials/footer') %>

	</body>

</html>