<!DOCTYPE html>
<html lang="pt-br">
<!--HEAD DA PAGINA-->
<%- include('./partials/head') %>

<body>
	<!-- HEADER -->
	<%- include('./partials/header') %>

	<!-- NAVIGATION -->
	<%- include('./partials/nav') %>

	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb-tree">
						<li><a href="#">Home</a></li>
						<li><a href="#">Eletrônicos</a></li><!-- RECADO PARA BACKEND - COLOCAR AQUI A CATEGORIA -->
						<li><a href="#">NOTEBOOK HP 256</a></li><!--RECADO PARA BACKEND - COLOCAR AQUI O TITULO DO PRODUTO -->
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- Product main img -->
				<div class="col-md-5 col-md-push-2">
					<div id="product-main-img">
						<div class="product-preview">
							<img src="/images/product01.png" alt="">
						</div>

						<div class="product-preview">
							<img src="/images/product03.png" alt="">
						</div>

						<div class="product-preview">
							<img src="/images/product06.png" alt="">
						</div>

						<div class="product-preview">
							<img src="/images/product08.png" alt="">
						</div>
					</div>
				</div>
				<!-- /Product main img -->

				<!-- Product thumb imgs -->
				<div class="col-md-2  col-md-pull-5">
					<div id="product-imgs">
						<div class="product-preview">
							<img src="/images/product01.png" alt="">
						</div>

						<div class="product-preview">
							<img src="/images/product03.png" alt="">
						</div>

						<div class="product-preview">
							<img src="/images/product06.png" alt="">
						</div>

						<div class="product-preview">
							<img src="/images/product08.png" alt="">
						</div>
					</div>
				</div>
				<!-- /Product thumb imgs -->

				<!-- Product details -->
				<div class="col-md-5">
					<div class="product-details">
						<h2 class="product-name">NOTEBOOK HP 256 </h2>
						<div>
							<h3 class="product-price">R$ 980,00 </h3>
						</div>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
							ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
							laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
							voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
							cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>

						<div class="add-to-cart">
							<button class="add-to-cart-btn"><i class=""></i>Favoritos</button>
						</div>
						<ul class="product-links">
							<li>Categoria:</li>
							<li><a href="#">Eletrônicos</a></li>

						</ul>
					</div>
				</div>
				<!-- /Product details -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
	<%- include('./partials/produtosRelacionados') %>
	<%- include('./partials/redesSociais') %>
	<%- include('./partials/footer') %>

</body>

</html>